<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AttributionCopyEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSHealthShareUsageDescription</key>
	<string>FitRot reads your daily step count so you can earn coins for being active.</string>
</dict>
</plist>
